html  {
  background-color: #FFD2CD;
}

body {
  background-color: #F3C3DB;
/*  font-size: 0.8125em; */
  font-size: 1.0125em;
  line-height: 1.1250em;
  font-weight: 600;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 1em;
  border: 1px solid #000000;
  border-radius: 1em;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li, td, th {
  font-family: 'Source Sans Pro', verdana, arial, helvetica, sans-serif;
/*  font-size: 0.8125em; */
  font-size: 1.0125em;
  line-height: 1.1250em;
}

p.tasklist {
  display: inline;
  padding: 0.3825em;
}

span.smurf {
  color: #61210B;
}

span.frums {
  color: #4B088A;
}



pre {
  background-color: #eee;
  padding: 0.6250em;
  font-size: 0.6825px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 0.6250em;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

table  {
  border-spacing: .875em;
  border-collapse: separate;
}

@media screen and (min-width: 3em)
{
float: right;
}
